mat-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 400px) {
    mat-card {
        box-shadow: none;
    }

    .welcome-logo {
        color: black !important;
    }
}

mat-card-title {
    margin-bottom: 24px;
}

h2 {
    margin-top: 20px;
}

.signup-button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-top: 12px;
}

mat-form-field {
    width: 100%;
}

.welcome-logo {
    text-align: center;
    color: white;
    margin-bottom: 24px;
    margin-left: 12px;
    margin-right: 12px;
}

.welcome-logo h2 {
    font-size: 32px;
}